<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="assets/img/logo5.png" alt="">
                            </a>
                        </div>
                        <p>
                            sun_wenz03@mail.ru <br>
                            +7 (924) 176 44 23 <br>
                            Шкиперский проток д.15, офис 232, Санкт-Петербург
                        </p>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget wow fadeInUp" data-wow-duration="1.1s" data-wow-delay=".4s">
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>