.sample-text-area {
    background: #fff;
    padding: 100px 0 70px 0;
  }
  
  /* line 80, ../../Arafath/CL/December/235. Job board/HTML/scss/_elements.scss */
  .text-heading {
    margin-bottom: 30px;
    font-size: 24px;
  }

  /* line 85, ../../Arafath/CL/December/235. Job board/HTML/scss/_elements.scss */
b,
sup,
sub,
u,
del {
  color: #ff5e13;
}

/* line 93, ../../Arafath/CL/December/235. Job board/HTML/scss/_elements.scss */
h1 {
  font-size: 36px;
}

/* line 97, ../../Arafath/CL/December/235. Job board/HTML/scss/_elements.scss */
h2 {
  font-size: 30px;
}

/* line 101, ../../Arafath/CL/December/235. Job board/HTML/scss/_elements.scss */
h3 {
  font-size: 24px;
}

/* line 105, ../../Arafath/CL/December/235. Job board/HTML/scss/_elements.scss */
h4 {
  font-size: 18px;
}

/* line 109, ../../Arafath/CL/December/235. Job board/HTML/scss/_elements.scss */
h5 {
  font-size: 16px;
}

/* line 113, ../../Arafath/CL/December/235. Job board/HTML/scss/_elements.scss */
h6 {
  font-size: 14px;
}

/* line 117, ../../Arafath/CL/December/235. Job board/HTML/scss/_elements.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

/* line 127, ../../Arafath/CL/December/235. Job board/HTML/scss/_elements.scss */
.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
  color: #828bb2;
}

/* line 137, ../../Arafath/CL/December/235. Job board/HTML/scss/_elements.scss */
.button-area {
  background: #fff;
}

.single-gallery-image {
    margin-top: 30px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    height: 200px;
  }

  .section-top-border {
    padding: 50px 0;
    border-top: 1px dotted #eee;
  }