<app-bradcam [pageName]="categoryName"></app-bradcam>
<!-- Start Sample Area -->
<section class="sample-text-area">
    <div class="container box_1170">
        <h3 class="text-heading">Кто мы такие</h3>
        <p class="sample-text">
            Мы не просто безликий магазин! Мы лучшие в своем деле! Найдите кого-то получше и мы сделаем вам скидку!
            Каждый день наша большая команда профессиональных диллеров трудится над разработкой новых проектов, способов 
            дешевле и быстрее доставить Вам новенький шлем или высотомер. Мы все тесно связаны с парашютным спортом, кто-то 
            уже достиг вершин, кто-то только только начинает свой долгий и ужасно дорогой путь!
            Но несмотря на это, всех нас связывает необходимость в спортивном инвентаре. Кто только начинает свою карьеру-хотят свое
            личное крутое снаряжение! А те кто давно в нашей "Тусовке", хотят обновить, или по потребности, или просто потому что 
            очень богатые.<br> <br>
            Возможно, Вы найдете где-то товар и дешевле, но и мы себя тоже ценим.
            У нас нет цели обмануть Вас или как-то развести, впервую очередь мы хотим сохранить Ваше доверие к нам. 
            Поэтому каждый день мы усердно работаем, чтобы предоставить Вам самое качественное снаряжение, в котором Вам будет кофмортно и безопасно 
            покорять вершины парашютного спорта!
            

        </p>
    </div>
</section>
<!-- End Sample Area -->


<!-- Start Align Area -->
<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <h3 class="mb-30">С чего вдруг вы должны остановить свой поиск на нас?</h3>
            <div class="row">
                <div class="col-md-3">
                    <img src="assets/img/elements/about9.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-9 mt-sm-20">
                    <p> Наши диллеры находятся по всей России, а основной офис в Москве, что облегчает доставку снаряжения по стране!<br>
                        Большое количество товара в наличии, отправим на доставку в день заказа(в крайнем случае на следующий день).<br>
                        Отправляем товар по России и СНГ. Быстро и, как правило, за свой счёт. <br>
                        Даём гарантию на товар(мало где это можно встретить, между прочим). Иногда даже на расходники.<br>
                        У нас хорошие цены. Не нравятся - напишите нам об этом. Мы не кусаемся, зато любим пообщаться и помочь чем сможем:)<br>
                        Мы сами постоянно используем товар, который продаём, и многое о нём знаем теоретически и практически.<br>
                        У нас только качественный товар, признанный во всём мире. Никаких поделок/реплик/аналогов, на которые мы боимся давать гарантию.<br>
                        Товар от официальных диллеров популярных производителей(Cookie, ParaAvis, Kiss)

                        </p>
                </div>
            </div>
        </div>
        <div class="section-top-border text-left">
            <h3 class="mb-30">Хотите узнать, что подарить парашютисту?</h3>
            <div class="row">
                <div class="col-md-9">
                    <p class="text-left">
                        Мы вам расскажем, о чём он мечтает. <br>
                        Смело оставляйте заявку, мы Вам перезвоним и поможем!<br>
                        И не стоит переживать за, возможно, не подошедший размер. Мы всё понимаем, и непременно 
                        заменим подаренную вещь на подходящую в случае необходимости.
                        
                    </p>
                    <p class="text-left">Оставляйте заявку и мы Вам перезвоним, поможем с выбором или просто поговорим по душам!</p>
                </div>
                <div class="col-md-3">
                    <img src="assets/img/elements/about10.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="section-top-border">
            <h3>Галерея</h3>
            <div class="row gallery-item">
                <div class="col-md-4">
                    <a href="assets/img/elements/about1.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/elements/about1.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets/img/elements/about2.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/elements/about2.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets/img/elements/about3.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/elements/about3.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="assets/img/elements/about4.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/elements/about4.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="assets/img/elements/about5.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/elements/about5.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets/img/elements/about6.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/elements/about6.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets/img/elements/about7.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/elements/about7.jpg);"></div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="assets/img/elements/about8.jpg" class="img-pop-up">
                        <div class="single-gallery-image" style="background: url(assets/img/elements/about8.jpg);"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Align Area -->