<app-bradcam [pageName]="categoryName"></app-bradcam>
<!-- featured_candidates_area_start  -->
<div class="featured_candidates_area candidate_page_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="../assets/img/candiateds/1.png" alt="">
                    </div>
                    <a href="#"><h4>Markary Jondon</h4></a>
                    <p>Software Engineer</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="../assets/img/candiateds/2.png" alt="">
                    </div>
                    <a href="#"><h4>Markary Jondon</h4></a>
                    <p>Software Engineer</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="../assets/img/candiateds/3.png" alt="">
                    </div>
                    <a href="#"><h4>Markary Jondon</h4></a>
                    <p>Software Engineer</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="../assets/img/candiateds/4.png" alt="">
                    </div>
                    <a href="#"><h4>Markary Jondon</h4></a>
                    <p>Software Engineer</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="../assets/img/candiateds/5.png" alt="">
                    </div>
                    <a href="#"><h4>Markary Jondon</h4></a>
                    <p>Software Engineer</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="../assets/img/candiateds/6.png" alt="">
                    </div>
                    <a href="#"><h4>Markary Jondon</h4></a>
                    <p>Software Engineer</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="../assets/img/candiateds/7.png" alt="">
                    </div>
                    <a href="#"><h4>Markary Jondon</h4></a>
                    <p>Software Engineer</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="../assets/img/candiateds/8.png" alt="">
                    </div>
                    <a href="#"><h4>Markary Jondon</h4></a>
                    <p>Software Engineer</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="../assets/img/candiateds/9.png" alt="">
                    </div>
                    <a href="#"><h4>Markary Jondon</h4></a>
                    <p>Software Engineer</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="../assets/img/candiateds/10.png" alt="">
                    </div>
                    <a href="#"><h4>Markary Jondon</h4></a>
                    <p>Software Engineer</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="../assets/img/candiateds/3.png" alt="">
                    </div>
                    <a href="#"><h4>Markary Jondon</h4></a>
                    <p>Software Engineer</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="../assets/img/candiateds/4.png" alt="">
                    </div>
                    <a href="#"><h4>Markary Jondon</h4></a>
                    <p>Software Engineer</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- featured_candidates_area_end  -->