<app-bradcam></app-bradcam>
<!-- featured_candidates_area_start  -->
<div class="featured_candidates_area candidate_page_padding">
    <div class="container">
        <div class="row">
            <div *ngFor="let cat of $category | async" class="col-md-6 col-lg-3">
                <div class="single_candidates text-center">
                    <div class="thumb">
                        <img src="{{cat.imageUrl}}" alt="">
                    </div>
                    <a href="#"><h4>{{cat.name}}</h4></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- featured_candidates_area_end  -->