<div class="offcanvas-header">
    <h2 class="offcanvas-title">Корзина</h2>
    <button type="button" class="btn-close text-reset" aria-label="Close"
        (click)="activeOffcanvas.dismiss('Cross click')"></button>
</div>
<div class="offcanvas-body">
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Название</th>
                    <th scope="col">Кол-во</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of cartList | async">
                    <td>
                        <img style="width:100%; height: 90%;" src="{{p.productImage}}" />
                    </td>
                    <td>
                        <p style="width:30%">{{p.name}}</p>
                    </td>
                    <td><input style="width:40%" type="number" placeholder="{{p.id}}" value="{{p.amount}}"
                            (change)="onChangeEvent($event)" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <a type="button" (click)="createOrder()" class="btn btn-lg boxed-btn3" style="width: 100%;">Оформить заказ</a>
            </div>
        </div>
        <div class="row">
            <div class="col p-3">
                <button type="button" class="btn btn-outline-dark" (click)="clearCart()" style="width: 100%;">Очистить
                    корзину</button>
            </div>
            <div class="col p-3">
                <button type="button" class="btn btn-outline-dark" (click)="activeOffcanvas.close('Close click')"
                    style="width: 100%; height: 100%;">Закрыть</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div *ngIf="showSuccess">
                    <h4>Заказ успешно оформлен</h4>
                    <p>В ближайшее время с вами свяжется на менеджер</p>
                </div>
            </div>
        </div>
    </div>

</div>