<div class="container">
    <div class="row">
        <div class="col-2"  style="padding: 35px 0px 35px 0px">
            <div matBadge="{{cartCount| async}}" matBadgePosition="below before" matBadgeColor="warn">
                <ng-icon
                name="bootstrapBasket" size=30 color=white (click)="openCart()"></ng-icon>
            </div>
        </div>
        <div class="col-2" style="padding: 35px 0px 35px 0px" ngbDropdown >
            <ng-icon name="bootstrapPersonCircle" size=30 color=white ngbDropdownToggle></ng-icon>
            <div ngbDropdownMenu>
                <button ngbDropdownItem (click)="logOut()">Выход</button>
            </div>
        </div>
        <div class="col" style="padding: 35px 0px 35px 0px">
            <p style="color: white;">Привет! {{authService.getUserName() | async}}</p>
        </div> 
    </div>
</div>