/* line 7, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
.slider_area {
  position: relative;
  z-index: 0;
}

.slider_bg_1 {
    background-image: url(../../assets/img/banner/banner.png);
}
/* line 10, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
.slider_area .single_slider {
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 767px) {
  /* line 10, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
  .slider_area .single_slider {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 10, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
  .slider_area .single_slider {
    height: 700px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 10, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
  .slider_area .single_slider {
    height: 550px;
  }
}

@media (max-width: 767px) {
  /* line 24, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text {
    margin-top: 120px;
    margin-bottom: 100px;
  }
}

/* line 29, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text h5 {
  font-size: 30px;
  color: #fff;
  font-weight: 400;
}

/* line 34, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text h3 {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 500;
  color: #fff;
}

@media (max-width: 767px) {
  /* line 34, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text h3 {
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 45px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 34, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text h3 {
    font-size: 34px;
    line-height: 1.4;
    margin-bottom: 35px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 34, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text h3 {
    font-size: 40px;
    line-height: 1.4;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 34, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text h3 {
    font-size: 60px;
    font-weight: 400;
    line-height: 74px;
  }
}

/* line 59, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text p {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  margin-bottom: 35px;
}

/* line 66, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text .button_search {
  text-align: right;
}

@media (max-width: 767px) {
  /* line 66, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text .button_search {
    text-align: left;
  }
}

/* line 72, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text .quality {
  margin-top: 40px;
}

@media (max-width: 767px) {
  /* line 72, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text .quality {
    margin-top: 20px;
  }
}

/* line 78, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text .quality ul li {
  display: inline-block;
}

@media (max-width: 767px) {
  /* line 78, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text .quality ul li {
    margin-bottom: 10px;
  }
}

/* line 83, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text .quality ul li button {
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  font-weight: #000;
  font-family: "Roboto", sans-serif;
  padding: 5px 19px;
  display: inline-block;
  margin: 0 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

/* line 96, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
.slider_area .single_slider .slider_text .quality ul li button:hover {
  background: #F91842;
}

/* line 105, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
.slider_area .ilstration_img {
  position: absolute;
  right: 0;
  bottom: 0;
  right: 7%;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 105, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
  .slider_area .ilstration_img {
    right: 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 113, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
  .slider_area .ilstration_img img {
    width: 75%;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 113, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
  .slider_area .ilstration_img img {
    width: 75%;
  }
}

/* line 123, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
.gj-picker-md div[role="navigator"] {
  padding-left: 30px !important;
}

/* line 128, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
.gj-datepicker-md [role="right-icon"] {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 16px;
  color: #919191;
  margin-right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

/* line 138, ../../Arafath/CL/December/235. Job board/HTML/scss/_slider.scss */
.nice-select::after {
  content: "\f0d7";
  display: block;
  pointer-events: none;
  position: absolute;
  right: 30px;
  top: 50%;
  transition: all 0.15s ease-in-out;
  width: 5px;
  font-family: 'fontawesome';
  color: #ddd;
  transform: translateY(-50%);
  font-size: 16px;
  right: 25px;
  color: #AAB1B7;
  height: auto;
  margin-top: 0;
}
