<div class="modal-header">
	<h4 class="modal-title">Войти</h4>
	<button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
	<p *ngIf="error" style="color: brown;">Не правильный логин или пароль</p>
	<p>Логин</p>
	<input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="user" />
	<p>Пароль</p>
	<input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="password" />
	<div class="container p-3">
		<div class="row">
			<div class="col">
				<a href="#">Регистрация</a>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn boxed-btn3" (click)="login()">Войти</button>
	<button type="button" class="btn boxed-btn1" (click)="activeModal.close('Close click')">Отмена</button>
</div>